<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>

    <body>

        <div id="app">
            {{message}}
        </div>

        <div id="app-2">
            <span v-binf:title="message">
                Hover your mouse over me for a few seconds
                to see my dinamically bound title!
            </span>
        </div>


        <script>
         let options = {
             el:'#app',
             data: {
                 message: 'Hello Vue'
             }
         };
         var app = new Vue(options)

         let options2 = {
             el:'#app-2',
             data: {
                 message: 'Your loaded this page on '+ new Date().toLocaleString()
             }
         };
         var app = new Vue(options2)

        </script>
        
    </body>
</html>
